.almendra-regular {
    font-family: "Newsreader", serif;
    font-weight: 400;
    font-style: normal;
  }
body{
    background-color:rgb(123, 123, 211);
    font-size: 20px;
    }
h1 {
    color:rgb(23, 23, 155);
    margin-top: 50px;
    text-align: center;
    font-family:"Newsreader",serif;
  }
 
 p {
    color:rgb(23, 23, 155);
    text-align: center;
    margin-top: 60px;
    margin-left: 50px;
    margin-right: 60px;
    font-family:"Newsreader",serif;
 } 
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(23, 23, 155); 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.navbar a {
    display: block;
    padding: 14px 20px;
    color: #f2f2f2;  
    text-decoration: none;
    font-size: 18px;
}

.navbar a:hover {
    background: #6951af;
    color: black;
}

.main {
    margin-top: 100px; 
  } 
  /* Tablet */
@media (max-width: 768px) {
    .two-column {
        flex-direction: column;
        width: 95%;
    }

    .navbar a {
        width: 100%;
        padding: 12px;
        text-align: center;
    }

    p, h3, div, .text-block-2, .text-block-3 {
        margin: 40px 20px;
    }
}

/* Mobile */
@media (max-width: 480px) {
    h1 {
        font-size: 28px;
        margin: 40px 10px;
    }

    p, h3, div, .text-block-2, .text-block-3 {
        margin: 30px 10px;
        font-size: 16px;
    }

    .navbar a {
        font-size: 16px;
        padding: 10px;
    }
}