almendra-regular {
    font-family: "Newsreader", serif;
    font-weight: 400;
    font-style: normal;
  }
body{
    background-color:rgb(123, 123, 211);
    margin-top: 100px;
    text-align: center;
    font-family: "Newsreader",serif;
    font-size: 20px;
    
}

h1{
    color:rgb(23, 23, 155);
    margin-top: 80px;
    text-align: center;
    font-family: "Newsreader",serif;
    
}
p{
    color:rgb(23, 23, 155);
    margin-top: 30px;
    text-align: center;
    font-family: "Newsreader",serif;
   
}

    .navbar {
        list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(23, 23, 155);
}
       
        
      
      
      /* Links inside the navbar */
      .navbar a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      /* Change background on mouse-over */
      .navbar a:hover {
        background: #6951af;
        color: black;
      }
      
      * Main content */
      .main {
        margin-top: 100px; /* Add a top margin to avoid content overlay */
      }