.almendra-regular {
    font-family: "Newsreader", serif;
    font-weight: 400;
    font-style: normal;
}


body {
    background-color: rgb(123, 123, 211);
    margin: 0;
    padding-top: 100px;
    text-align: center;
    font-family: "Newsreader", serif;
    font-size: 20px;
    color: rgb(23, 23, 155); 
}


h1 {
    color: rgb(23, 23, 155);
    margin-top: 80px;
    font-family: "Newsreader", serif;
}

p {
    color: rgb(23, 23, 155);
    margin-top: 30px;
    font-family: "Newsreader", serif;
}

/*Navigation Bar */
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(23, 23, 155); 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.navbar a {
    display: block;
    padding: 14px 20px;
    text-decoration: none;
    color: #f2f2f2; 
    font-size: 18px;
}

.navbar a:hover {
    background: #6951af;
    color: black;
}

/*Two-Column Layout */
.two-column {
    display: flex;
    gap: 20px;
    margin: 40px auto;
    width: 90%;
    max-width: 1200px;
}

.left,
.right {
    flex: 1;
    background: white;
    color: rgb(23, 23, 155); 
    padding: 20px;
    border-radius: 10px;
}


.main {
    margin-top: 60px;
    padding: 20px;
}

/* Tablet  */
@media (max-width: 768px) {

    body {
        padding-top: 60px;
        font-size: 18px;
    }

    .two-column {
        flex-direction: column;
        width: 95%;
    }

    .navbar a {
        width: 100%;
        padding: 12px;
        text-align: center;
    }
}

/* Mobile Screens */
@media (max-width: 480px) {

    h1 {
        font-size: 26px;
    }

    p {
        font-size: 18px;
    }

    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    form input,
    form select,
    form button {
        font-size: 15px;
    }
}
